#app {
    height: 100%;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 68px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: rgba(8, 8, 8, 0.2);
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-position: center;
  }
  

  